<!-- Modal unificado: crear / editar / ver procedimiento -->
<app-modal-shell
  modalId="NprocediModal"
  [title]="p.formTitle"
  titleId="NprocediModalLabel"
  modalClass="iflow-modal iflow-modal--fit proc-procedimiento-modal"
  dialogClass="modal-lg"
  [dismissOnClose]="false"
  [closeAriaLabel]="'Cerrar ' + p.formTitle"
  (closed)="p.cerrarFormularioProcedimiento()">
  <form modalBody id="formProcedimiento" (ngSubmit)="p.validateAndSubmitProcedimiento($event)">
    <fieldset class="proc-form-fieldset" [disabled]="p.formReadonly">
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-floating">
            <input class="form-control" id="descripcionProcedimiento" name="descripcion" type="text"
              [(ngModel)]="p.crearprocedi.descripcion" required placeholder=" ">
            <label class="required-field" for="descripcionProcedimiento">Descripción</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input class="form-control" id="codigoSIAProcedimiento" name="codigoSIA" type="text"
              [(ngModel)]="p.crearprocedi.codigoSia" required placeholder=" ">
            <label class="required-field" for="codigoSIAProcedimiento">Código SIA</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating">
            <select class="form-select"
              [class.form-select--placeholder]="p.crearprocedi.modalidad == null"
              id="modalidadProcedimiento" name="modalidad"
              [(ngModel)]="p.crearprocedi.modalidad" required>
              <option [ngValue]="null" disabled>Seleccione modalidad</option>
              <option [ngValue]="1">Presencial</option>
              <option [ngValue]="2">Web con certificado</option>
              <option [ngValue]="3">Web sin certificado</option>
              <option [ngValue]="4">Presencial y Web con certificado</option>
              <option [ngValue]="5">Presencial y Web sin certificado</option>
            </select>
            <label class="required-field" for="modalidadProcedimiento">Modalidad</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating">
            <select class="form-select"
              [class.form-select--placeholder]="p.crearprocedi.materia == null"
              id="materiaProcedimiento" name="Materia" [(ngModel)]="p.crearprocedi.materia"
              required>
              <option [ngValue]="null" disabled>Seleccione materia</option>
              <option *ngFor="let materiaprocedi of p.materiaprocedimiento"
                [ngValue]="materiaprocedi.idMatProce">
                {{ materiaprocedi.descripcion }}
              </option>
            </select>
            <label class="required-field" for="materiaProcedimiento">Materia</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating">
            <input class="form-control" id="siglasProcedimiento" name="siglas" type="text" maxlength="5"
              [(ngModel)]="p.crearprocedi.siglas" [required]="p.formMode === 'crear'"
              [readOnly]="p.formMode !== 'crear'" placeholder=" ">
            <label [class.required-field]="p.formMode === 'crear'" for="siglasProcedimiento">Siglas</label>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div modalFooter class="modal-footer__actions">
    <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
      (click)="p.cerrarFormularioProcedimiento()">
      {{ p.formReadonly ? 'Cerrar' : 'Cancelar' }}
    </button>
    <button *ngIf="!p.formReadonly" type="submit" class="btn-iflow modal-footer__btn btn-iflow--primary"
      form="formProcedimiento">{{ p.formSubmitLabel }}</button>
  </div>
</app-modal-shell>
