<app-shell contentId="hanging-icons">
  <div class="page-panel">
    <app-edita-expediente-header
      [expedienteEjercicio]="verExpediente.ejercicio"
      [expedienteNumero]="verExpediente.numero"
      [botonVerNotifi]="botonVerNotifi"
      [vertramite]="vertramite"
      [insideDryRun]="insideDryRun"
      [insideEnviando]="insideEnviando"
      [insideUltimoEnvio]="insideUltimoEnvio"
      (verHistorialEnviosInside)="handleVerHistorialEnviosInside()"
      (validarExpedienteInside)="handleValidarExpedienteInside()"
      (enviarExpedienteInside)="handleEnviarExpedienteInside()"
      (altaExpedienteEniXmlInside)="handleAltaExpedienteEniXmlInside()"
      (enviarDocumentosInside)="handleEnviarDocumentosInside()"
      (abrirModalRemisionJusticia)="abrirModalRemisionJusticia()"
      (verNotificaciones)="verNotificaciones()"
      (veotramitadores)="veotramitadores()"
      (volverListadoExpedientes)="volverListadoExpedientes()"
      (nuevoTramite)="tramitesFacade.abrirModalNuevoTramite(this)"
    ></app-edita-expediente-header>
    <app-edita-expediente-workspace></app-edita-expediente-workspace>
    <app-edita-expediente-modals></app-edita-expediente-modals>
  </div>
</app-shell>
