<app-modal-shell modalId="archifirmaef" title="Solicitud de Firmado Electrónico" titleId="archifirmaefLabel"
     dialogClass="modal-xl" [staticBackdrop]="true" [keyboard]="false" [showFooter]="false"
     (closed)="tareas.limpiarArchivoFirmaEF(edita)">
     <form modalBody (ngSubmit)="tareas.enviarFirmaAtendida(edita)">
          <div class="row g-3">
               <div class="col-12">
                    <div class="form-floating">
                         <input [(ngModel)]="edita.archivofirmadoef.asunto" class="form-control" id="asunto"
                              name="asunto" type="text" placeholder=" ">
                         <label for="asunto">Asunto * </label>
                         <br>

                    </div>
               </div>
               <div class="col-12">
                    <div class="form-floating">
                         <input [(ngModel)]="edita.archivofirmadoef.texto" class="form-control" id="texto" name="texto"
                              type="text" placeholder=" ">
                         <label for="asunto">Texto * </label>
                         <br>

                    </div>
               </div>

               <div class="col-4">
                    <div class="form-floating">
                         <select [(ngModel)]="edita.archivofirmadoef.prioridad" class="form-select " id="prioridad"
                              name="prioridad">
                              <option value="0">Baja</option>
                              <option value="1">Media</option>
                              <option value="2">Alta</option>

                         </select>
                         <label for="prioridad">Prioridad * </label>
                         <br>


                    </div>
               </div>
               <div class="px-3">
                    <h4 class="modal-title text-start">Firmantes </h4>
                    <div class="row">

                         <div class="col-1"></div>
                         <div class="col-10">
                              <!-- <table class="table table-bordered table-striped table-responsive rounded-3"> -->
                              <table class="table table-hover">
                                   <thead>
                                        <tr>

                                             <th>Cargo</th>
                                             <th>Nombre</th>

                                        </tr>
                                   </thead>
                                   <tbody
                                        *ngFor="let archivofirmante of edita.archivofirmantes; trackBy: trackByNumDocum">
                                        <tr>

                                             <td class="fw-normal">{{ archivofirmante.cargo }}</td>
                                             <td class="fw-normal">{{ archivofirmante.desPerso }}</td>


                                        </tr>
                                   </tbody>
                              </table>
                         </div>
                         <div class="col-1"></div>
                    </div>


               </div>


          </div>


          <div class="modal-footer">
               <button (click)="tareas.limpiarArchivoFirmaEF(edita)" class="btn-iflow modal-footer__btn btn-iflow--secondary"
                    data-bs-dismiss="modal" type="button">Cancelar
               </button>
               <button class="btn-iflow modal-footer__btn btn-iflow--secondary" data-bs-dismiss="modal"
                    role="button">Guardar</button>
          </div>
     </form>
</app-modal-shell>
