<div
  class="modal fade"
  [ngClass]="modalClass"
  [id]="modalId"
  tabindex="-1"
  [attr.aria-labelledby]="resolvedTitleId"
  aria-hidden="true"
  [attr.data-bs-backdrop]="staticBackdrop ? 'static' : null"
  [attr.data-bs-keyboard]="keyboard ? null : 'false'"
>
  <div class="modal-dialog modal-dialog-centered" [ngClass]="dialogClass" [style.max-width]="dialogMaxWidth">
    <div class="modal-content" [ngClass]="contentClass">
      <div class="modal-header" [ngClass]="headerClass">
        <ng-container *ngIf="!customHeader">
          <h4
            class="modal-title"
            tabindex="-1"
            [class.fs-5]="headingLevel === 'h5'"
            [id]="resolvedTitleId"
          >
            {{ title }}<ng-content select="[modalTitle]"></ng-content>
          </h4>
        </ng-container>
        <ng-content select="[modalHeader]"></ng-content>
        <button
          type="button"
          class="btn-close"
          [attr.aria-label]="closeAriaLabel"
          [attr.data-bs-dismiss]="dismissOnClose ? 'modal' : null"
          (click)="handleCloseClick()"
        ></button>
      </div>
      <div class="modal-body" [ngClass]="bodyClass">
        <ng-content select="[modalBody]"></ng-content>
        <ng-content></ng-content>
      </div>
      <div class="modal-footer" *ngIf="showFooter">
        <ng-content select="[modalFooter]"></ng-content>
      </div>
    </div>
  </div>
</div>
