<app-edita-expediente-modals-notificaciones
  [modeloteucrear]="edita.notifUiFacade.modeloteucrear"
  [modeloteulistar]="edita.notifUiFacade.modeloteulistar"
  [creanotificacion]="edita.notifUiFacade.creanotificacion"
  [notificacionver]="edita.notifUiFacade.notificacionver"
  [motivonotificacioneslistar]="edita.notifUiFacade.motivonotificacioneslistar"
  [notificadorlistar]="edita.notifUiFacade.notificadorlistar"
  [receptornotifilistar]="edita.notifUiFacade.receptornotifilistar"
  [consultadni]="edita.lifecycleFacade.consultadni"
  [dniok]="edita.lifecycleFacade.dniok"
  [modoVerNotificacion]="edita.notifUiFacade.modoVerNotificacion"
  [fechNotifi]="edita.notifUiFacade.fechNotifi"
  [selected]="edita.selected"
  [isFechaSolicInvalid]="edita.notifUiFacade.isFechaSolicInvalid()"
  [isFechaGenerInvalid]="edita.notifUiFacade.isFechaGenerInvalid()"
  [isFechaFirmaInvalid]="edita.notifUiFacade.isFechaFirmaInvalid()"
  (crearModeloTeuFichero)="edita.notifUiFacade.crearModeloTeuFichero()"
  (devolverNotificacion)="edita.notifUiFacade.devolverNotificacion()"
  (editaNotifi)="edita.notifUiFacade.editaNotifi()"
  (solicitarDni)="edita.solicitadni($event)"
  (habilitarEdicionNotificacion)="edita.notifUiFacade.modoVerNotificacion = false"
></app-edita-expediente-modals-notificaciones>
<app-edita-expediente-modals-interesados
  [crearinteresado]="edita.crearinteresado"
  [consultadni]="edita.lifecycleFacade.consultadni"
  [dniok]="edita.lifecycleFacade.dniok"
  [selected]="edita.selected"
  (crear)="edita.crearInteresado()"
  (solicitarDni)="edita.solicitadni($event)"
></app-edita-expediente-modals-interesados>
<app-edita-expediente-modals-operaciones></app-edita-expediente-modals-operaciones>
<app-edita-expediente-modals-tramites></app-edita-expediente-modals-tramites>
