<app-edita-expediente-modals-notificaciones
  [modeloteucrear]="edita.notifUiFacade.modeloteucrear"
  [modeloteulistar]="edita.notifUiFacade.modeloteulistar"
  [selected]="edita.selected"
  [isFechaSolicInvalid]="edita.notifUiFacade.isFechaSolicInvalid()"
  [isFechaGenerInvalid]="edita.notifUiFacade.isFechaGenerInvalid()"
  [isFechaFirmaInvalid]="edita.notifUiFacade.isFechaFirmaInvalid()"
  (crearModeloTeuFichero)="edita.notifUiFacade.crearModeloTeuFichero()"
  (cancelar)="edita.notifUiFacade.cerrarModal()"
></app-edita-expediente-modals-notificaciones>
<app-edita-expediente-modals-interesados
  [crearinteresado]="edita.crearinteresado"
  [consultadni]="edita.lifecycleFacade.consultadni"
  [dniok]="edita.lifecycleFacade.dniok"
  [selected]="edita.selected"
  (crear)="edita.crearInteresado()"
  (cancelar)="edita.cerrarModal('ninteresadoModal')"
  (solicitarDni)="edita.solicitadni($event)"
></app-edita-expediente-modals-interesados>
<app-edita-expediente-modals-expediente></app-edita-expediente-modals-expediente>
<app-edita-expediente-modals-operaciones></app-edita-expediente-modals-operaciones>
<app-edita-expediente-modals-tramites></app-edita-expediente-modals-tramites>
