<app-modal-shell
  modalId="nsolicitudModal"
  [title]="s.formTitle"
  titleId="nsolicitudModalLabel"
  modalClass="iflow-modal iflow-modal--fixed soli-alta-modal"
  dialogClass="modal-xl"
  [dismissOnClose]="false"
  [closeAriaLabel]="'Cerrar ' + s.formTitle"
  (closed)="handleCerrar()"
>
  <form
    modalBody
    id="formSolicitud"
    class="soli-alta"
    novalidate
    (ngSubmit)="handleSubmit($event)"
    aria-describedby="nsolicitudModalLabel"
  >
    <fieldset class="soli-alta__fieldset" [disabled]="s.formReadonly">
      <app-solicitudes-alta-datos></app-solicitudes-alta-datos>
      <app-solicitudes-alta-interesado></app-solicitudes-alta-interesado>
      <app-solicitudes-alta-representante></app-solicitudes-alta-representante>
    </fieldset>
  </form>

  <div modalFooter class="modal-footer__actions">
    <button
      type="button"
      class="btn-iflow modal-footer__btn btn-iflow--secondary"
      (click)="handleCerrar()"
    >
      {{ s.formReadonly ? 'Cerrar' : 'Cancelar' }}
    </button>
    <button
      *ngIf="!s.formReadonly"
      type="submit"
      class="btn-iflow modal-footer__btn btn-iflow--primary"
      form="formSolicitud"
    >
      Guardar
    </button>
  </div>
</app-modal-shell>
