<!-- ASIGNAR INSTRUCTOR EN EXPEDIENTE -->
<app-modal-shell modalId="staticBackdrop" title="Asignar Instructor" titleId="staticBackdropLabel" headingLevel="h5"
    [staticBackdrop]="true" [keyboard]="false" [showFooter]="false">
    <form modalBody (ngSubmit)="s.editExpediente()">
        <div class="mb-3">
            <div class="form-floating">
                <select class="form-select " id="departamento" name="plantilladefecto"
                    [(ngModel)]="s.intructorExpediente">
                    <option name="usuario" *ngFor="let procedipermisos of s.procedipermiso"
                        value="{{procedipermisos.usuario}}">{{procedipermisos.usuario}}</option>
                </select>
                <label for="departamento">Instructor</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
                data-bs-dismiss="modal">Cancelar</button>
            <button class="btn-iflow modal-footer__btn btn-iflow--primary" role="button">Guardar</button>
        </div>
    </form>
</app-modal-shell>