<app-modal-shell
     modalId="verNotifiModal"
     titleId="editarNotificacionModalLabel"
     modalClass="iflow-modal iflow-modal--fixed exp-ver-notifi-modal"
     dialogClass="modal-xl"
     [staticBackdrop]="true"
     [dismissOnClose]="false"
     (closed)="notif.cerrarModalNotificacion()">
     <ng-container modalTitle>
          <i class="bi me-1"
               [class.bi-pencil-square]="!notif.modoVerNotificacion"
               [class.bi-eye]="notif.modoVerNotificacion"
               aria-hidden="true"></i>
          {{ notif.modoVerNotificacion ? 'Ver' : 'Editar' }} Notificación
          {{ notif.ejerNotifi }}/{{ notif.numeroNotifi }}
     </ng-container>
     <form modalBody id="formVerNotifi" (ngSubmit)="notif.editaNotifi()" #editarNotificacionForm="ngForm">
          <div class="row g-3">
               <div class="col-md-2">
                    <div class="form-floating">
                         <input [value]="notif.notificacionver.ejeNotif" class="form-control"
                              id="ejeNotifVer" name="ejeNotif" disabled type="text" placeholder=" ">
                         <label for="ejeNotifVer">Ejercicio</label>
                    </div>
               </div>
               <div class="col-md-2">
                    <div class="form-floating">
                         <input [value]="notif.notificacionver.numNotif" class="form-control"
                              id="numNotifVer" name="numNotif" disabled type="text" placeholder=" ">
                         <label for="numNotifVer">Número notificación</label>
                    </div>
               </div>
               <div class="col-md-2">
                    <div class="form-floating">
                         <select [(ngModel)]="notif.creanotificacion.forNotif"
                              class="form-select" id="fnotifiVer" name="fnotifi"
                              [disabled]="notif.modoVerNotificacion">
                              <option [ngValue]="0">Correo postal</option>
                              <option [ngValue]="1">Telemática</option>
                         </select>
                         <label for="fnotifiVer">Forma notificación</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <input [value]="notif.fechNotifi" class="form-control" disabled
                              id="fechNotifiVer" name="FechNotif" type="text" placeholder=" ">
                         <label for="fechNotifiVer">Fecha notificación</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <select [(ngModel)]="notif.creanotificacion.situacion"
                              class="form-select" id="situacionVer" name="situacion"
                              (change)="notif.limpiarErroresVisuales()"
                              [disabled]="notif.modoVerNotificacion">
                              <option [ngValue]="1">GENERADA</option>
                              <option [ngValue]="2">ENVIADA</option>
                              <option [ngValue]="3">RECEPCIONADA</option>
                              <option [ngValue]="4">DEVUELTA</option>
                              <option [ngValue]="5">COBRADA</option>
                              <option [ngValue]="6">ANULADA</option>
                              <option [ngValue]="7">GENERADA</option>
                              <option [ngValue]="8">NOTIFICA_ENVIADA</option>
                              <option [ngValue]="9">CADUCADA</option>
                         </select>
                         <label class="required-field" for="situacionVer">Estado notificación</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <input [value]="notif.dniNotifi" class="form-control" disabled
                              id="interesadoVerNotif" name="interesado" type="text" placeholder=" ">
                         <label for="interesadoVerNotif">Interesado DNI</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <select [(ngModel)]="notif.creanotificacion.notificador2"
                              class="form-select"
                              [class.form-select--placeholder]="!notif.creanotificacion.notificador2"
                              id="notificadorVer" name="notificador"
                              (change)="notif.limpiarErroresVisuales()"
                              [disabled]="notif.modoVerNotificacion">
                              <option value="" disabled>Seleccione notificador</option>
                              <option
                                   *ngFor="let notificalistar of notif.notificadorlistar; trackBy: trackByNotificador"
                                   [value]="notificalistar.notificador">
                                   {{ notificalistar.descripcion }}
                              </option>
                         </select>
                         <label for="notificadorVer">Notificador</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.fecEnvio"
                              class="form-control" id="fecEnvioVer" name="fecEnvio" type="date"
                              (input)="notif.onFechaCampoChange(undefined, 'fecEnvio', $event)"
                              (change)="notif.limpiarErroresVisuales()"
                              [disabled]="notif.modoVerNotificacion" placeholder=" ">
                         <label for="fecEnvioVer">Fecha envío</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.fecRecNotif"
                              class="form-control" id="start2" max="2999-12-31" min="2020-01-01"
                              name="fecRecNotif" type="date"
                              (input)="notif.onFechaCampoChange(undefined, 'fecRecNotif', $event)"
                              (change)="notif.limpiarErroresVisuales()"
                              [disabled]="notif.modoVerNotificacion" placeholder=" ">
                         <label for="start2">Fecha recepción / devolución</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <select [(ngModel)]="notif.creanotificacion.receptor"
                              class="form-select"
                              [class.form-select--placeholder]="!notif.creanotificacion.receptor"
                              id="receptorVer" name="receptor"
                              (change)="notif.limpiarErroresVisuales()"
                              [disabled]="notif.modoVerNotificacion">
                              <option value="">Seleccione un receptor</option>
                              <option
                                   *ngFor="let receptornotifislistar of notif.receptornotifilistar; trackBy: trackByReceptor"
                                   [value]="receptornotifislistar.receptor">
                                   {{ receptornotifislistar.descripcion }}
                              </option>
                         </select>
                         <label for="receptorVer">Receptor</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <select [(ngModel)]="notif.creanotificacion.motNotif"
                              class="form-select"
                              [class.form-select--placeholder]="!notif.creanotificacion.motNotif"
                              id="desMotNotif" name="desMotNotif"
                              (change)="notif.limpiarErroresVisuales()"
                              [disabled]="notif.modoVerNotificacion">
                              <option value="">Seleccione un motivo</option>
                              <option
                                   *ngFor="let motivosnotificacioneslistar of notif.motivonotificacioneslistar; trackBy: trackByMotNotif"
                                   [value]="motivosnotificacioneslistar.motNotif">
                                   {{ motivosnotificacioneslistar.descripcion }}
                              </option>
                         </select>
                         <label for="desMotNotif">Motivo devolución</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.fecRegistSalid"
                              class="form-control" id="fecRegistSalidVer" name="fecRegistSalid" type="date"
                              (input)="notif.onFechaCampoChange(undefined, 'fecRegistSalid', $event)"
                              (change)="notif.limpiarErroresVisuales()"
                              [disabled]="notif.modoVerNotificacion" placeholder=" ">
                         <label for="fecRegistSalidVer">Fecha envío TEU</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.numEnvioTeu"
                              class="form-control" id="nteuVer" name="nteu" type="text"
                              [disabled]="notif.modoVerNotificacion" placeholder=" ">
                         <label for="nteuVer">Número T.E.U.</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <select [(ngModel)]="notif.creanotificacion.bop"
                              class="form-select" id="sboeVer" name="sboe"
                              [disabled]="notif.modoVerNotificacion">
                              <option [ngValue]="0">N/A</option>
                              <option [ngValue]="1">ENVIADO</option>
                              <option [ngValue]="2">PUBLICADO</option>
                         </select>
                         <label class="required-field" for="sboeVer">Situación B.O.E.</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.fecPubBop"
                              class="form-control" id="fecPubBopVer" name="fecPubBop" type="date"
                              (input)="notif.onFechaCampoChange(undefined, 'fecPubBop', $event)"
                              (change)="notif.limpiarErroresVisuales()"
                              [disabled]="notif.modoVerNotificacion" placeholder=" ">
                         <label for="fecPubBopVer">Fecha publicación B.O.E.</label>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.numBop"
                              class="form-control" id="numBopVer" name="boe" type="text"
                              [disabled]="notif.modoVerNotificacion" placeholder=" ">
                         <label for="numBopVer">Número B.O.E.</label>
                    </div>
               </div>
               <div class="col-12">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.observacion"
                              class="form-control" id="observacionVer" name="observacion" type="text"
                              [disabled]="notif.modoVerNotificacion" placeholder=" ">
                         <label for="observacionVer">Observaciones</label>
                    </div>
               </div>
          </div>
     </form>
     <div modalFooter class="modal-footer__actions">
          <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
               (click)="notif.cerrarModalNotificacion()">
               Cerrar
          </button>
          <button *ngIf="!notif.modoVerNotificacion" type="submit"
               class="btn-iflow modal-footer__btn btn-iflow--primary" form="formVerNotifi">
               Guardar cambios
          </button>
          <button *ngIf="notif.modoVerNotificacion" type="button"
               class="btn-iflow modal-footer__btn btn-iflow--primary"
               (click)="notif.modoVerNotificacion = false">
               Editar notificación
          </button>
     </div>
</app-modal-shell>
