<app-modal-shell
     modalId="insideRemisionJusticiaModal"
     title="Remisión a Justicia (INSIDE)"
     titleId="insideRemisionJusticiaModalLabel"
     modalClass="iflow-modal iflow-modal--fit exp-remision-justicia-modal"
     dialogClass="modal-lg"
     [staticBackdrop]="true"
     [keyboard]="false"
     [dismissOnClose]="false"
     (closed)="host.cerrarModal('insideRemisionJusticiaModal')">
     <form modalBody id="formRemisionJusticia" (ngSubmit)="ops.handleRemisionAJusticia(host)">
          <div class="row g-3">
               <div class="col-md-6">
                    <div class="form-floating">
                         <input [(ngModel)]="host.insideRemision.idexpEni" class="form-control" id="insideIdexpEni"
                              name="insideIdexpEni" required type="text" placeholder=" ">
                         <label class="required-field" for="insideIdexpEni">Identificador expediente ENI</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <input [(ngModel)]="host.insideRemision.dir3Juzgado" class="form-control"
                              id="insideDir3Juzgado" name="insideDir3Juzgado" required type="text" placeholder=" ">
                         <label class="required-field" for="insideDir3Juzgado">DIR3 Juzgado</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <input [(ngModel)]="host.insideRemision.dir3Remitente" class="form-control"
                              id="insideDir3Remitente" name="insideDir3Remitente" required type="text" placeholder=" ">
                         <label class="required-field" for="insideDir3Remitente">DIR3 Remitente</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <input [(ngModel)]="host.insideRemision.nig" class="form-control" id="insideNig"
                              name="insideNig" required type="text" placeholder=" ">
                         <label class="required-field" for="insideNig">NIG</label>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-floating">
                         <input [(ngModel)]="host.insideRemision.claseProcedimiento" class="form-control"
                              id="insideClaseProcedimiento" name="insideClaseProcedimiento" type="text" placeholder=" ">
                         <label for="insideClaseProcedimiento">Clase procedimiento</label>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-floating">
                         <input [(ngModel)]="host.insideRemision.anyoProcedimiento" class="form-control"
                              id="insideAnyoProcedimiento" name="insideAnyoProcedimiento" type="text" placeholder=" ">
                         <label for="insideAnyoProcedimiento">Año procedimiento</label>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-floating">
                         <input [(ngModel)]="host.insideRemision.numeroProcedimiento" class="form-control"
                              id="insideNumeroProcedimiento" name="insideNumeroProcedimiento" type="text"
                              placeholder=" ">
                         <label for="insideNumeroProcedimiento">Número procedimiento</label>
                    </div>
               </div>
               <div class="col-12">
                    <div class="form-floating">
                         <input [(ngModel)]="host.insideRemision.descripcion" class="form-control"
                              id="insideDescripcion" name="insideDescripcion" type="text" placeholder=" ">
                         <label for="insideDescripcion">Descripción</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <input [(ngModel)]="host.insideRemision.codigoEnvioATEA" class="form-control"
                              id="insideCodigoEnvioATEA" name="insideCodigoEnvioATEA" type="text" placeholder=" ">
                         <label for="insideCodigoEnvioATEA">Código envío ATEA (consulta)</label>
                    </div>
               </div>
          </div>
     </form>
     <div modalFooter class="modal-footer__actions">
          <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
               (click)="host.cerrarModal('insideRemisionJusticiaModal')">Cancelar</button>
          <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
               [disabled]="host.insideEnviando"
               (click)="ops.handleConsultarEstadoRemision(host)">
               Consultar estado
          </button>
          <button type="submit" class="btn-iflow modal-footer__btn btn-iflow--primary"
               form="formRemisionJusticia" [disabled]="host.insideEnviando">
               Enviar remisión
          </button>
     </div>
</app-modal-shell>
