<app-modal-shell modalId="devueModal" title="Devuelve expedienter" titleId="exampleModalLabel" headingLevel="h5"
    [showFooter]="false">
    <form modalBody>
        <div class="row g-3">
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control" id="asuntoDevolucion" placeholder=" ">
                    <label for="asuntoDevolucion">Asunto</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control" id="tramitadorDevolucion" placeholder=" ">
                    <label for="tramitadorDevolucion">Usuario tramitador</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input class="form-control" type="date" id="fechaDevolucion" name="fechaDevolucion"
                        value="{{s.selected}}" min="2023-01-01" max="2023-12-31" placeholder=" ">
                    <label for="fechaDevolucion">Fecha</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
                data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn-iflow modal-footer__btn btn-iflow--primary">Enviar</button>
        </div>
    </form>
</app-modal-shell>