<app-modal-shell
  modalId="ListadoNotificacionesModal"
  title="Listado de Notificaciones"
  titleId="ListadoNotificacionesModalLabel"
  modalClass="iflow-modal iflow-modal--fit exp-listado-modal"
  dialogClass="modal-xl modal-dialog-scrollable"
  [dismissOnClose]="true"
  (closed)="handleClosed()">
  <div modalBody class="exp-listado-modal__body">
    <app-edita-expediente-workspace-notificaciones
      [veonotificaciones]="edita.veonotificaciones"
      [verInfoNotifi]="edita.notifUiFacade.verInfoNotifi"
      [idNotificacion]="edita.notifUiFacade.idNotificacion"
      [actions]="edita.notifUiFacade.notificacionActions"
      [envioNotifica]="edita.notifUiFacade.envioNotifica"
      [notificaciones]="edita.leernotificacion"
      [cargando]="edita.cargandoNotificaciones"
      (action)="handleNotificacionAction($event)"
      (rowClick)="edita.onNotificacionClick($event)"
      (rowDoubleClick)="edita.onNotificacionDoubleClick($event)"
      (verNotificacion)="edita.notifUiFacade.verNotificacion(undefined, $event)">
    </app-edita-expediente-workspace-notificaciones>
  </div>
  <div modalFooter class="modal-footer">
    <button type="button" class="btn-iflow btn-iflow--secondary" (click)="handleCerrar()">
      Cerrar
    </button>
  </div>
</app-modal-shell>
