<app-edita-modal-envio-notifi></app-edita-modal-envio-notifi>
<app-edita-modal-metadatos-modal></app-edita-modal-metadatos-modal>
<app-edita-modal-recep-notifi></app-edita-modal-recep-notifi>
<app-edita-modal-archifirmaef></app-edita-modal-archifirmaef>
<app-edita-modal-liquidacion-modal></app-edita-modal-liquidacion-modal>
<app-edita-modal-generar-entrada-modal></app-edita-modal-generar-entrada-modal>
<app-edita-modal-operacion-form></app-edita-modal-operacion-form>
<app-edita-modal-devolver-notifi></app-edita-modal-devolver-notifi>
<app-edita-modal-ver-notifi-modal></app-edita-modal-ver-notifi-modal>
<app-edita-modal-publi-notif-modal></app-edita-modal-publi-notif-modal>
<app-edita-modal-generar-salida-modal></app-edita-modal-generar-salida-modal>
<app-edita-modal-crear-tablon-anuncios-modal></app-edita-modal-crear-tablon-anuncios-modal>
<app-edita-modal-ver-expediente-edita-modal></app-edita-modal-ver-expediente-edita-modal>
<app-edita-modal-historico-modal></app-edita-modal-historico-modal>
<app-edita-modal-nueva-tarea-tra></app-edita-modal-nueva-tarea-tra>
<app-edita-modal-inside-remision-justicia-modal [host]="edita"></app-edita-modal-inside-remision-justicia-modal>
