<fieldset class="border p-3 mb-3">
            <legend class="fs-6">Código de Operación</legend>
            <div class="row g-3 mb-3">
              <div class="col-md-12"><div class="form-floating">
                <select
                  id="idConta"
                  class="form-select"
                  formControlName="idConta"
                  required
                  [class.form-select--placeholder]="!op.operacionForm.get('idConta')?.value"
                >
                  <option value="" disabled>Selecciona Contabilidad</option>
                  <option *ngFor="let option of op.rotContaOptions" [value]="option.idConta">
                    {{ option.rotConta }}
                  </option>
                </select>
                <label for="idConta">Contabilidad</label>
              </div></div>
            </div>
            <div class="row g-3">
              <div class="col-md-3"><div class="form-floating">
                <select
                  id="indArea"
                  class="form-select"
                  formControlName="indArea"
                  required
                  [class.form-select--placeholder]="!op.operacionForm.get('indArea')?.value"
                >
                  <option value="" disabled>Selecciona Área</option>
                  <option *ngFor="let option of op.areaOptions" [value]="option.valor">
                    {{ option.nombre }}
                  </option>
                </select>
                <label for="indArea">Área</label>
              </div></div>
              <div class="col-md-3"><div class="form-floating">
                <select
                  id="indAgrup"
                  class="form-select"
                  formControlName="indAgrup"
                  required
                  [class.form-select--placeholder]="!op.operacionForm.get('indAgrup')?.value"
                >
                  <option value="" disabled>Selecciona Agrupación</option>
                  <option *ngFor="let option of op.opcionesAgrupacionAreaSeleccionada" [value]="option.valor">
                    {{ option.nombre }}
                  </option>
                </select>
                <label for="indAgrup">Agrupación</label>
              </div></div>
              <div class="col-md-3"><div class="form-floating">
                <input type="text" id="claOpera" class="form-control" formControlName="claOpera"
                       placeholder=" " required>
                <label for="claOpera">Clave Operación</label>
              </div></div>
              <div class="col-md-3"><div class="form-floating">
                <select
                  id="signo"
                  class="form-select"
                  formControlName="signo"
                  required
                  [class.form-select--placeholder]="!op.operacionForm.get('signo')?.value && op.operacionForm.get('signo')?.value !== '0'"
                >
                  <option value="" disabled>Selecciona Signo</option>
                  <option *ngFor="let option of op.signoOptions" [value]="option.valor">
                    {{ option.nombre }}
                  </option>
                </select>
                <label for="signo">Signo</label>
              </div></div>
            </div>
          </fieldset>
