/* Estilos específicos del componente Procedimientos */

.seccion-tareas-permisos {
  margin-top: 1rem;
}

.seccion-tareas-permisos .row {
  align-items: flex-start;
}

.seccion-atributos {
  margin-top: 1rem;
}

.grid-compacto {
  height: 280px !important;
}

.sin-espacio {
  margin: 0 !important;
  padding: 0 !important;
}

.espacios {
  margin-bottom: 8px !important;
}

@media screen and (max-width: 768px) {
  .seccion-tareas-permisos .col-6 {
    width: 100%;
    margin-bottom: 1rem;
  }
}
