<div class="container-fluid">
  <app-headers></app-headers>
  <div class="row">
    <app-nav></app-nav>

    <div class="col-12 content_gen">
      <div class="page-panel">
        <div class="listado-titulo-container">
          <h2 class="listado-titulo-principal">{{ titulo }}{{ procedimiento.id }}</h2>
          <div class="titulo-botones-container">
            <a routerLink="/procedimientos" class="submit btn-volver">
              <i class="bi bi-arrow-left"></i> Volver
            </a>
          </div>
        </div>

        <form (ngSubmit)="create()" class="form-readonly">
          <div class="row g-3">
            <div class="col-md-6 form-floating">
              <input [(ngModel)]="procedimiento.descripcion" class="form-control" name="descripcion" readonly type="text" id="descripcion">
              <label for="descripcion">Descripción</label>
            </div>
            <div class="col-md-6 form-floating">
              <input [(ngModel)]="procedimiento.codigoSia" class="form-control" name="codigoSIA" readonly type="text" id="codigoSIA">
              <label for="codigoSIA">Código SIA</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
