<app-modal-shell
     modalId="bajaObjetoTributarioModal"
     title="Baja objeto tributario"
     titleId="bajaObjetoTributarioModalLabel"
     modalClass="iflow-modal iflow-modal--fit exp-baja-objeto-modal"
     dialogClass="modal-lg"
     headingLevel="h5"
     [staticBackdrop]="true"
     [dismissOnClose]="false"
     (closed)="edita.cerrarModalBajaObjetoTributario()">
     <div modalBody>
          <ng-container *ngIf="tareas.objetotributario && edita.tareatramiteprocedimiento?.accion === 5">
               <app-baja-objeto-tributario-fields
                    [objetoTributario]="tareas.objetotributario"
                    idPrefix="bajaObjModal"
                    [showInlineAction]="false">
               </app-baja-objeto-tributario-fields>
          </ng-container>
     </div>
     <div modalFooter class="modal-footer__actions">
          <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
               (click)="edita.cerrarModalBajaObjetoTributario()">Cerrar</button>
          <button *ngIf="tareas.objetotributario && tareas.objetotributario.codMovim !== 'BAJA'"
               type="button" class="btn-iflow modal-footer__btn btn-iflow--primary"
               (click)="tareas.darDeBajaObjeto(edita)">
               Dar de baja
          </button>
     </div>
</app-modal-shell>
