<app-modal-shell
     modalId="HistoricoModal"
     title="Histórico"
     titleId="HistoricoModalLabel"
     modalClass="iflow-modal iflow-modal--fit exp-historico-modal"
     dialogClass="modal-xl"
     [dismissOnClose]="false"
     (closed)="edita.cerrarModal('HistoricoModal')">
     <div modalBody>
          <div *ngIf="edita.vertramite" class="grid-container">
               <app-iflow-grid #grid (rowClick)="edita.descargaficheroHistorico($event)"
                    (rowDoubleClick)="edita.marcaHistorico($event)" [columns]="edita.columnsHistorico"
                    [localization]="edita.localizationObject" [source]="edita.sourceHistorico"
                    [height]="360">
               </app-iflow-grid>
          </div>
     </div>
     <div modalFooter class="modal-footer__actions">
          <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
               (click)="edita.cerrarModal('HistoricoModal')">Cerrar</button>
     </div>
</app-modal-shell>
