<app-modal-shell
     modalId="EditarTareaTramiteModal"
     title="Editar Tarea del Trámite"
     titleId="EditarTareaTramiteModalLabel"
     modalClass="iflow-modal iflow-modal--fit exp-editar-tarea-modal"
     dialogClass="modal-xl"
     [staticBackdrop]="true"
     [dismissOnClose]="false"
     (closed)="tareas.verListadoTareasModal(edita)">
     <form modalBody id="formEditarTareaTramite" (ngSubmit)="tareas.editarTarea(edita)">
          <div class="row g-3">
               <div class="col-md-6">
                    <div class="form-floating">
                         <input [(ngModel)]="edita.tareatramiteexpedienteeditar.fecInicio"
                              class="form-control" id="fecInicioEditTarea" max="2099-12-31" min="2023-01-01"
                              name="fecInicio" type="date" placeholder=" ">
                         <label class="required-field" for="fecInicioEditTarea">Fecha de tarea</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <select [(ngModel)]="edita.tareatramiteexpedienteeditar.tareaProcedimiento"
                              class="form-select"
                              [class.form-select--placeholder]="!edita.tareatramiteexpedienteeditar.tareaProcedimiento"
                              id="tareapEdit" name="tareap">
                              <option value="" disabled>Seleccione tarea</option>
                              <option *ngIf="edita.tareaProcedimientoVer?.descripcion" disabled
                                   [ngValue]="edita.tareatramiteexpedienteeditar.tareaProcedimiento">
                                   {{ edita.tareaProcedimientoVer.descripcion }}
                              </option>
                              <option *ngFor="let listastareaprocedi of edita.listatareaprocedi; trackBy: trackById"
                                   [value]="listastareaprocedi.id">
                                   {{ listastareaprocedi.descripcion }}
                              </option>
                         </select>
                         <label class="required-field" for="tareapEdit">Tarea procedimiento</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <input #fileInput (change)="edita.upload($event, edita.idTramite)"
                              [(ngModel)]="edita.tareatramiteexpedienteeditar.archivo" accept=".pdf"
                              class="form-control" id="formFileEditTarea" name="doc" type="file">
                         <label for="formFileEditTarea">Seleccione documento</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <input [value]="edita.nombreArchivoTarea" class="form-control" disabled
                              id="nombreArchivoEditTarea" name="nombreArchivo" type="text" placeholder=" ">
                         <label for="nombreArchivoEditTarea">Nombre documento actual</label>
                    </div>
               </div>
               <div class="col-12">
                    <div class="form-floating">
                         <input [(ngModel)]="edita.tareatramiteexpedienteeditar.descripcion"
                              class="form-control" id="descripcionEditTarea" name="descripcion" required
                              type="text" placeholder=" ">
                         <label class="required-field" for="descripcionEditTarea">Descripción</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <select [(ngModel)]="edita.tareatramiteexpedienteeditar.anexo"
                              class="form-select" id="anexoEditTarea" name="anexo" required>
                              <option [ngValue]="0">Fichero anexo</option>
                              <option [ngValue]="1">Documentación física requerida</option>
                              <option [ngValue]="2">Fichero enlace</option>
                              <option [ngValue]="3">Documentación física complementaria</option>
                         </select>
                         <label class="required-field" for="anexoEditTarea">Anexo</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <select [(ngModel)]="edita.tareatramiteexpedienteeditar.documAportada"
                              class="form-select" id="docaporEditTarea" name="docapor" required>
                              <option [ngValue]="0">Ninguno</option>
                              <option [ngValue]="1">Copia</option>
                              <option [ngValue]="2">Compulsado</option>
                              <option [ngValue]="3">Copia original</option>
                              <option [ngValue]="4">Original</option>
                         </select>
                         <label class="required-field" for="docaporEditTarea">Documentación aportada</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <select [(ngModel)]="edita.tareatramiteexpedienteeditar.tipoDocumEni"
                              class="form-select" id="tipoDocumEniEditTarea" name="tipoDocumEni" required>
                              <option value="TD01">Resolución</option>
                              <option value="TD02">Acuerdo</option>
                              <option value="TD03">Contrato</option>
                              <option value="TD04">Convenio</option>
                              <option value="TD05">Declaración</option>
                              <option value="TD06">Comunicación</option>
                              <option value="TD07">Notificación</option>
                              <option value="TD08">Publicación</option>
                              <option value="TD09">Acuse de recibo</option>
                              <option value="TD10">Acta</option>
                              <option value="TD11">Certificado</option>
                              <option value="TD12">Diligencia</option>
                              <option value="TD13">Informe</option>
                              <option value="TD14">Solicitud</option>
                              <option value="TD15">Denuncia</option>
                              <option value="TD16">Alegación</option>
                              <option value="TD17">Recursos</option>
                              <option value="TD18">Comunicación ciudadano</option>
                              <option value="TD19">Factura</option>
                              <option value="TD20">Otros incautados</option>
                              <option value="TD21">Otros</option>
                         </select>
                         <label class="required-field" for="tipoDocumEniEditTarea">Tipo documento ENI</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <select [(ngModel)]="edita.tareatramiteexpedienteeditar.documentacion"
                              class="form-select" id="documentacionEditTarea" name="documentacion" required>
                              <option [ngValue]="1">Documentación adjunta digitalizada</option>
                              <option [ngValue]="2">Documentación adjunta en soporte papel</option>
                              <option [ngValue]="3">Documentación adjunta digitalizada y en papel</option>
                         </select>
                         <label class="required-field" for="documentacionEditTarea">Documentación</label>
                    </div>
               </div>
          </div>
     </form>
     <div modalFooter class="modal-footer__actions">
          <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
               (click)="tareas.verListadoTareasModal(edita); edita.cerrarModal('EditarTareaTramiteModal')">
               Cancelar
          </button>
          <button *ngIf="edita.puedoEditarTarea" type="submit"
               class="btn-iflow modal-footer__btn btn-iflow--primary"
               form="formEditarTareaTramite">
               Guardar
          </button>
     </div>
</app-modal-shell>
