    <fieldset class="mb-3">
      <div class="row g-3">
        <div class="col-md-5"><div class="form-floating">
          <select id="temaSelect" class="form-select" [(ngModel)]="ge.selectedTema" (ngModelChange)="ge.onTemaSelected()" name="temaSelect" required>
            <option [ngValue]="null">-- Seleccione un tema --</option>
            <option *ngFor="let tema of ge.temasDocumentoListar" [ngValue]="tema">{{ tema.desTema }}</option>
          </select>
          <label for="temaSelect">Código Tema <span class="text-danger">*</span></label>
        </div></div>

        <div class="col-md-7"><div class="form-floating">
          <input type="text" class="form-control" id="TextareaGSalida" name="extracto" [(ngModel)]="ge.entrada.extracto" placeholder=" "/>
          <label for="TextareaGSalida">Extracto</label>
        </div></div>
      </div>
      <div class="row mt-3">
        <div class="col-12"><div class="form-floating">
          <input type="text" class="form-control" id="ctema" name="observaciones" [(ngModel)]="ge.entrada.observaciones" placeholder=" "/>
          <label for="ctema">Observaciones</label>
        </div></div>
      </div>
    </fieldset>

    <div class="d-flex justify-content-center align-items-center mb-4 registrar-factura-wrapper">
      <label for="registrarFactura" class="form-label mb-0 me-3 fw-semibold fs-5">Registrar Factura</label>
      <div class="form-check form-switch m-0">
        <input type="checkbox" class="form-check-input" id="registrarFactura"
               [(ngModel)]="ge.registrarFactura" name="registrarFactura"
               (change)="ge.onRegistrarFacturaChange()" />
      </div>
    </div>
