<app-modal-shell modalId="DevolverNotifi" title="Devolver Notificación" titleId="DevolverNotifiLabel"
     dialogClass="modal-xl" [staticBackdrop]="true" [keyboard]="false" [showFooter]="false">
     <form modalBody (ngSubmit)="notif.devolverNotificacion()">
          <div class="row g-3">
               <div class="col-sm-4">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.fecRecNotif" class="form-control"
                              data-mdb-inline="true" id="start" max="2099-12-31" min="2023-01-01" name="trip-start"
                              type="date" value="{{ edita.selected }}" placeholder=" ">
                         <label for="documento">Fecha de Devolución *</label>
                    </div>
               </div>
               <div class="col-sm-4">
                    <div class="form-floating">
                         <select [(ngModel)]="notif.creanotificacion.motNotif" class="form-select "
                              id="desMotNotif" name="desMotNotif" required>
                              <option
                                   *ngFor="let motivosnotificacioneslistar of notif.motivonotificacioneslistar; trackBy: trackByMotNotif"
                                   name="descripcionMotivo" value={{ motivosnotificacioneslistar.motNotif }}> {{
                                   motivosnotificacioneslistar.descripcion }}
                              </option>
                         </select>
                         <label for="desMotNotif">Motivo Devolución* </label>
                    </div>
               </div>
               <div class="col-sm-4">
                    <div class="form-floating">
                         <select [(ngModel)]="notif.creanotificacion.notificador" class="form-select "
                              id="notificador" name="notificador" required>
                              <option
                                   *ngFor="let notificalistar of notif.notificadorlistar; trackBy: trackByNotificador"
                                   name="notificadorNotifi" value={{ notificalistar.notificador }}> {{
                                   notificalistar.descripcion }}
                              </option>
                         </select>
                         <label for="receptor">Notificador* </label>
                    </div>
               </div>
          </div>
          <br>
          <div class="modal-footer">
               <button class="btn-iflow modal-footer__btn btn-iflow--secondary" data-bs-dismiss="modal"
                    type="button">Cancelar</button>
               <button class="btn-iflow modal-footer__btn btn-iflow--secondary" data-bs-dismiss="modal"
                    role="button">Guardar</button>
          </div>
     </form>
</app-modal-shell>
