<!-- INICIAR EXPEDIENTE -->
<app-modal-shell
 modalId="iniciarExpedieModal"
 title=""
 titleId="iniciarExpediModalLabel"
 dialogClass="modal-xl modal-dialog-centered"
 [staticBackdrop]="true"
 [keyboard]="false"
 [dismissOnClose]="false"
 (closed)="s.limpiadatosIniciarExpediente(); s.cerrarModal('iniciarExpedieModal')"
>
 <ng-container modalTitle><i class="fas fa-play-circle me-2 text-success"></i>Iniciar Expediente</ng-container>
 <form modalBody id="iniciarExpedienteForm" #iniciarExpedienteForm="ngForm" (ngSubmit)="s.onIniciarExpedienteSubmit()">
 <div class="row g-3 mb-4">
 <div class="col-12">
 <h5 class="text-primary mb-3 border-bottom pb-2">
 <i class="bi bi-file-text-fill me-2"></i>Datos de la Solicitud
 </h5>
 </div>
 </div>

 <div class="row">
 <div class="col-12 mb-3"><div class="form-floating">
 <input type="text" class="form-control" disabled value="{{s.asuntoSolicitud}}" id="asuntoSol" name="asuntoSol" placeholder=" ">
 <label for="asuntoSol">Asunto</label>
 </div></div>
 <div class="col-md-3 mb-3"><div class="form-floating">
 <input type="text" class="form-control" disabled [value]="s.ejerNumeroSolicitud" id="ejercicioNum" name="ejercicioNum" placeholder=" ">
 <label for="ejercicioNum">Ejercicio/Número</label>
 </div></div>
 <div class="col-md-3 mb-3"><div class="form-floating">
 <input type="text" class="form-control" disabled [value]="s.FIniSolicitud" id="fechaInicioSol" name="fechaInicioSol" placeholder=" ">
 <label for="fechaInicioSol">Fecha Inicio Solicitud</label>
 </div></div>
 <div class="col-md-3 mb-3"><div class="form-floating">
 <input type="text" class="form-control" disabled [value]="s.NumeroRegistroSolicitud" id="numRegistro" name="numRegistro" placeholder=" ">
 <label for="numRegistro">Número de Registro</label>
 </div></div>
 <div class="col-md-3 mb-3"><div class="form-floating">
 <input type="text" class="form-control" disabled value="ENTRADA" id="tipoRegistro" name="tipoRegistro" placeholder=" ">
 <label for="tipoRegistro">Tipo de Registro</label>
 </div></div>
 <div class="col-md-6 mb-3"><div class="form-floating">
 <input type="text" class="form-control" disabled [value]="s.usuarioSolicitud" id="usuarioAsignado" name="usuarioAsignado" placeholder=" ">
 <label for="usuarioAsignado">Usuario Asignado</label>
 </div></div>
 <div class="col-md-6 mb-3"><div class="form-floating">
 <input type="text" class="form-control" disabled [value]="s.personaFacade.InteresadoSolicitud" id="interesadoSol" name="interesadoSol" placeholder=" ">
 <label for="interesadoSol">Interesado</label>
 </div></div>
 <div class="col-md-6 mb-3"><div class="form-floating">
 <input type="text" class="form-control" disabled value="{{s.personaFacade.representanteSolicitud}}" id="representanteSol" name="representanteSol" placeholder=" ">
 <label for="representanteSol">Representante</label>
 </div></div>
 <div class="col-md-6 mb-3"><div class="form-floating">
 <input type="text" class="form-control" disabled value="{{s.depart}}" id="departamentoSol" name="departamentoSol" placeholder=" ">
 <label for="departamentoSol">Departamento</label>
 </div></div>
 </div>

 <div class="row mt-4 mb-4">
 <div class="col-12">
 <h5 class="text-success mb-3 border-bottom pb-2">
 <i class="bi bi-folder-plus me-2"></i>Información del Expediente
 </h5>
 </div>
 </div>

 <div class="row">
 <div class="col-12 mb-3"><div class="form-floating">
 <input
 type="text"
 class="form-control"
 required
 value="{{s.versolicitud.asunto}}"
 id="titulo"
 name="titulo"
 [(ngModel)]="s.nuevoexpediente.titulo"
 [class.is-invalid]="s.isTituloExpedienteInvalid()"
 #tituloInput="ngModel" placeholder=" ">
 <label for="titulo">Título Expediente *</label>
 </div><div *ngIf="s.isTituloExpedienteInvalid()" class="invalid-feedback">
 El título del expediente es obligatorio
 </div></div>
 <div class="col-md-4 mb-3"><div class="form-floating">
 <input
 class="form-control"
 type="text"
 id="fecha"
 name="fecha"
 value="{{s.FechaSistema}}"
 disabled placeholder=" ">
 <label for="fecha">Fecha Inicio Expediente</label>
 </div></div>
 <div class="col-md-4 mb-3"><div class="form-floating">
 <select
 class="form-select"
 id="procedimiento"
 name="procedimiento"
 [(ngModel)]="s.nuevoexpediente.procedimiento"
 required
 [class.is-invalid]="s.isProcedimientoInvalid()"
 #procedimientoSelect="ngModel">
 <option value="" disabled selected></option>
 <option *ngFor="let procedimiento of s.procedimientos" [value]="procedimiento.id">
 {{procedimiento.descripcion}}
 </option>
 </select>
 <label for="procedimiento">Procedimiento *</label>
 </div><div *ngIf="s.isProcedimientoInvalid()" class="invalid-feedback">
 Debe seleccionar un procedimiento
 </div></div>
 <div class="col-md-4 mb-3"><div class="form-floating">
 <select
 class="form-select"
 id="fnotifi"
 name="fnotifi"
 [(ngModel)]="s.nuevoexpediente.formaNotifi"
 disabled>
 <option value="0">Correo postal</option>
 <option value="1">Telemática</option>
 </select>
 <label for="fnotifi">Forma Notificación *</label>
 </div></div>
 </div>

 <div *ngIf="s.nuevoexpediente.formaNotifi==1" class="mb-3"><div class="form-floating">
 <input
 type="email"
 class="form-control"
 id="emailExp"
 name="emailExp"
 [(ngModel)]="s.nuevoexpediente.email"
 placeholder=" ">
 <label for="emailExp">Correo electrónico</label>
 </div></div>

 <div *ngIf="s.personaFacade.dniok" class="row mt-4 mb-4">
 <div class="col-12">
 <h5 class="text-info mb-3 border-bottom pb-2">
 <i class="bi bi-person-fill me-2"></i>Información del Interesado
 </h5>
 </div>
 </div>

 <div *ngIf="s.personaFacade.dniok" class="row">
 <div class="col-md-6 mb-3"><div class="form-floating">
 <input type="text" class="form-control" [value]="s.personaFacade.consultadni.nombre" id="nombreInt" name="nombreInt" readonly placeholder=" ">
 <label for="nombreInt">Nombre</label>
 </div></div>
 <div class="col-md-6 mb-3"><div class="form-floating">
 <input type="text" class="form-control" [value]="s.personaFacade.consultadni.apellido1 + ' ' + s.personaFacade.consultadni.apellido2"
 id="apellidosInt" name="apellidosInt" readonly placeholder=" ">
 <label for="apellidosInt">Apellidos</label>
 </div></div>
 <div class="col-12 mb-3"><div class="form-floating">
 <input type="text" class="form-control" [value]="s.personaFacade.consultadni.dirPosta" id="direccionInt"
 name="direccionInt" readonly placeholder=" ">
 <label for="direccionInt">Dirección</label>
 </div></div>
 <div class="col-md-4 mb-3"><div class="form-floating">
 <input type="text" class="form-control" [value]="s.personaFacade.consultadni.codPosta" id="cpInt" name="cpInt" readonly placeholder=" ">
 <label for="cpInt">Código Postal</label>
 </div></div>
 <div class="col-md-4 mb-3"><div class="form-floating">
 <input type="text" class="form-control" [value]="s.personaFacade.consultadni.provincia" id="provinciaInt"
 name="provinciaInt" readonly placeholder=" ">
 <label for="provinciaInt">Provincia</label>
 </div></div>
 <div class="col-md-4 mb-3"><div class="form-floating">
 <input type="text" class="form-control" [value]="s.personaFacade.consultadni.municipio" id="municipioInt"
 name="municipioInt" readonly placeholder=" ">
 <label for="municipioInt">Municipio</label>
 </div></div>
 </div>
 </form>
 <div modalFooter>
 <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary" (click)="s.limpiadatosIniciarExpediente(); s.cerrarModal('iniciarExpedieModal')">Cancelar</button>
 <button type="submit" class="btn-iflow modal-footer__btn btn-iflow--primary" form="iniciarExpedienteForm">Iniciar Expediente</button>
 </div>
</app-modal-shell>
