<app-modal-shell modalId="EnvioNotifi" title="Enviar Notificación" titleId="EnvioNotifiLabel" dialogClass="modal-xl"
     [staticBackdrop]="true" [keyboard]="false" [showFooter]="false">
     <form modalBody (ngSubmit)="notif.enviarNotificacion()">
          <div class="row g-3">
               <div class="col-6">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.fecEnvio" class="form-control"
                              data-mdb-inline="true" id="start" max="2099-12-31" min="2023-01-01" name="trip-start"
                              type="date" value="{{ edita.selected }}" placeholder=" ">
                         <label for="documento">Fecha de Envio</label>
                    </div>
               </div>
               <div class="col-sm-4">
                    <div class="form-floating"></div>
               </div>
          </div>
          <br>
          <div class="modal-footer">
               <button class="btn-iflow modal-footer__btn btn-iflow--secondary" data-bs-dismiss="modal"
                    type="button">Cancelar</button>
               <button type="submit" class="btn-iflow modal-footer__btn btn-iflow--primary">Guardar</button>
          </div>
     </form>
</app-modal-shell>
