<app-modal-shell
     modalId="PubliNotifModal"
     title="Publicar Notificación"
     titleId="PubliNotifModalLabel"
     modalClass="iflow-modal iflow-modal--fit exp-notifi-accion-modal"
     dialogClass="modal-lg"
     [staticBackdrop]="true"
     [dismissOnClose]="false"
     (closed)="notif.borrarDatosPublicacion()">
     <form modalBody id="formPubliNotifi" (ngSubmit)="notif.publicarNotifi()">
          <div class="row g-3">
               <div class="col-md-6">
                    <div class="form-floating">
                         <input (blur)="notif.fechamas15()"
                              [(ngModel)]="notif.creanotificacion.fecPubBop" class="form-control"
                              id="fecPubBop" max="2099-12-31" min="2023-01-01" name="fecPubBop"
                              type="date" placeholder=" ">
                         <label class="required-field" for="fecPubBop">Fecha de publicación</label>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-floating">
                         <input [(ngModel)]="notif.creanotificacion.numBop" class="form-control"
                              id="numBop" name="numBop" type="text" placeholder=" ">
                         <label class="required-field" for="numBop">B.O.E.</label>
                    </div>
               </div>
          </div>
     </form>
     <div modalFooter class="modal-footer__actions">
          <button type="button" class="btn-iflow modal-footer__btn btn-iflow--secondary"
               (click)="notif.borrarDatosPublicacion(); edita.cerrarModal('PubliNotifModal')">Cancelar</button>
          <button type="submit" class="btn-iflow modal-footer__btn btn-iflow--primary"
               form="formPubliNotifi">Guardar</button>
     </div>
</app-modal-shell>
