<app-edita-modal-recibos-pendientes-modal></app-edita-modal-recibos-pendientes-modal>
<app-edita-modal-nuevo-tramite-modal></app-edita-modal-nuevo-tramite-modal>
<app-edita-modal-editar-tramite-modal></app-edita-modal-editar-tramite-modal>
<app-edita-modal-editar-tarea-tramite-modal></app-edita-modal-editar-tarea-tramite-modal>
<app-edita-modal-generar-propuesta-resolucion-modal></app-edita-modal-generar-propuesta-resolucion-modal>
<app-edita-modal-crear-notificacion-modal></app-edita-modal-crear-notificacion-modal>
<app-edita-modal-baja-objeto-tributario-modal></app-edita-modal-baja-objeto-tributario-modal>
<app-edita-modal-listado-notificaciones></app-edita-modal-listado-notificaciones>
<app-edita-modal-listado-tramitadores></app-edita-modal-listado-tramitadores>
