<div class="row g-3">
  <div class="col-md-4">
    <div class="form-floating">
      <input type="text" class="form-control" [id]="idPrefix + '-tipo'"
        [value]="objetoTributario.tipoObjetoTributario" disabled placeholder=" ">
      <label [for]="idPrefix + '-tipo'">Tipo objeto tributario</label>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-floating">
      <input type="text" class="form-control" [id]="idPrefix + '-descripcion'"
        [value]="objetoTributario.desObjTribu" disabled placeholder=" ">
      <label [for]="idPrefix + '-descripcion'">Descripción</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating">
      <input type="text" class="form-control" [id]="idPrefix + '-fecAlta'"
        [value]="objetoTributario.fecAlta" disabled placeholder=" ">
      <label [for]="idPrefix + '-fecAlta'">Fecha alta</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating">
      <input type="text" class="form-control" [id]="idPrefix + '-numDocum'"
        [value]="objetoTributario.numDocum" disabled placeholder=" ">
      <label [for]="idPrefix + '-numDocum'">N.º documento</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating">
      <input type="text" class="form-control" [id]="idPrefix + '-persona'"
        [value]="objetoTributario.desPerEntid" disabled placeholder=" ">
      <label [for]="idPrefix + '-persona'">Persona / entidad</label>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-floating">
      <input type="text" class="form-control" [id]="idPrefix + '-domFiscal'"
        [value]="objetoTributario.domFiscal" disabled placeholder=" ">
      <label [for]="idPrefix + '-domFiscal'">Domicilio fiscal</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating">
      <input type="text" class="form-control" [id]="idPrefix + '-codMovim'"
        [value]="objetoTributario.codMovim" disabled placeholder=" ">
      <label [for]="idPrefix + '-codMovim'">Código movimiento</label>
    </div>
  </div>
</div>
